[submodule "taffybar/taffybar"]
	path = my-taffybar/taffybar
	url = https://github.com/taffybar/taffybar
[submodule "xmonad/xmonad"]
	path = xmonad/xmonad
	url = https://github.com/xmonad/xmonad
[submodule "xmonad/xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
